.App {
  text-align: center;
}

button {
  width: 230px;
  margin: 5px;
  padding: 10px;
}

#screen {
  width: 130px;
  margin: 20px 5px 20px 522px;
  padding: 10px 50px 10px 50px;
  border: 2px solid black;
}
